<div id="container">
  <h1>Voici ton Tableau de bord Rent my  bag</h1>
  <div class="first-container">
    <div class="card-profile">
      <h2>Mon profil</h2>
      <ul>
        <li>Name: <%= current_user.name %></li>
        <li>Email: <%= current_user.email %></li>
        <li>Phone number: <%= current_user.phone_number %></li>
        <li>Address: <%= current_user.address %></li>
      </ul>
    </div>
    <div class="card-bags">
      <h2>Mes sacs</h2>
        <% @bags.each do |bag| %>
          <p><%= bag.brand %></p>
          <%= link_to 'Voir Sac', bag_path(bag), class: 'btn btn-primary' %>
        <% end %>
    </div>
  </div>
  <div id="second-container" class="card-reservations">
    <h2>Mes réservations</h2>
    <% @bookings.each do |booking| %>
      <p><%= booking.bag.brand %>, <%= booking.total_price %></p>
    <% end %>
  </div>
</div>
