<h1>Available Bags</h1>

<% if @bags.any? %>
  <div class="bags">
    <% @bags.each do |bag| %>
      <div class="bag">
        <h2><%= link_to bag.brand, bag_path(bag) %></h2>
        <p><strong>State:</strong> <%= bag.state %></p>
        <p><strong>Capacity:</strong> <%= bag.capacity %> liters</p>
        <p><strong>Usage:</strong> <%= bag.usage %></p>
        <p><strong>Address:</strong> <%= bag.address %></p>
        <p><strong>Availability:</strong> <%= bag.availability ? 'Available' : 'Not Available' %></p>
        <p><strong>Daily Price:</strong> $<%= bag.daily_price %> per day</p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No bags available at the moment.</p>
<% end %>

<%= link_to 'New Bag', new_bag_path, class: 'btn btn-primary' if user_signed_in? %>
