<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1670888827505-907553eb732b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Voyagez mieux<br>Voyagez léger !</h1>
  </div>
</div>

<h1>Sacs disponibles</h1>

<% if @bags.any? %>
  <div class="bags">
    <% @bags.each do |bag| %>
      <div class="bag">
        <h2><%= link_to bag.brand, bag_path(bag) %></h2>
        <p><strong>Volume :</strong> <%= bag.capacity %> litres</p>
        <p><strong>Poids :</strong> <%= bag.weight %> kg</p>
        <p><strong>Usage :</strong> <%= bag.usage %></p>
        <p><strong>Ville :</strong> <%= bag.address %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Aucun sac disponible! Revenez plus tard!</p>
<% end %>
<%= link_to 'Mettez votre sac en location!', new_bag_path, class: 'btn btn-primary' %>
