<div>
  <h1>Welcome to your dashboard</h1>

  <div>
    <h2>My profile details</h2>
    <ul>
      <li>Name: <%= current_user.name %></li>
      <li>Email: <%= current_user.email %></li>
      <li>Phone number: <%= current_user.phone_number %></li>
      <li>Address: <%= current_user.address %></li>
    </ul>
  </div>

  <div>
    <h2>My Bag Listings</h2>
    <ul>
      @bags.each do |bag|
        <li><%= bag.brand %>, <%= bag.capacity %> <%= bag.daily_price %></li>
      end
    </ul>
  </div>

  <div>
    <h2>My Bookings Requests</h2>
    <ul>
      <li><%= current_user.bag_id %> <%= user.name%> <%=%></li>
    </ul>
  </div>

</div>
